h1 {
  color: #464077;
}
a {
  color: #7069a9;
}
a:hover {
  color: #7069a9;
}

.form-search {
  margin: 20px auto 15px auto;
  text-align: center;
}
.input-box {
  position: relative;
}
.input-box .search {
  color: rgb(89, 99, 116);
  border: solid 1px #7069a9;
  border-radius: 3px;
  padding-left: 8px;
}
.input-box .search:focus {
  outline: none;
  border-radius: 3px;
  border: solid 1.5px #b378bc;
}
.input-box i {
  position: absolute;
  right: 9px;
  top: 11px;
  color: #ced4da;
}
.card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 45%;
  margin: 10px auto;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.details {
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  border-left: solid 1px #7069a9;
}
.impotant {
  font-weight: bold;
}
.day {
  font-size: 12px;
}
.temper {
  font-size: 35px;
  letter-spacing: 0;
}
.week {
  text-align: center;
  margin: 0 auto 25px auto;
}
.today {
  margin: 0 auto 30px auto;
}
.card-body {
  position: relative;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.coder {
  position: absolute;
  left: 3px;
  bottom: -38px;
  font-size: 12px;
  opacity: 75%;
}
.units {
  font-size: 10px;
  vertical-align: 16px;
}
.degree {
  text-decoration: none;
}
.form-check-label {
  font-size: 12px;
}
.data,
.day {
  padding-left: 0;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
.temper .active {
  color: black;
  cursor: default;
}
.search-batton {
  background-color: #7069a9;
  border: none;
  border-radius: 3px;
  color: white;
  position: relative;
}
.search-batton:hover {
  opacity: 0.8;
  top: -4px;
}
.current-batton {
  background-color: #b378bc;
  border: none;
  border-radius: 3px;
  color: white;
  position: relative;
}
.current-batton:hover {
  opacity: 0.8;
  top: -4px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 14px;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.forcast-line {
  margin: auto;
}
